{% extends '_base.html' %}
{% block title %}Currency Converter{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-4">Currency Converter</h1>
<form action="{{url_for('do_conversion')}}" method="POST" id="main-form">
    <div class="form-group row">
        <label for="convert-from" class="col-form-label col-sm-2">Convert From</label>
        <div class="col-sm-10">
            <input type="text" name="convert-from" maxlength="3" class="form-control-lg" value="{{session['convert_from']}}" >
        </div>
    </div>
    <div class="form-group row">
        <label for="convert-to" class="col-form-label col-sm-2">Convert To</label>
        <div class="col-sm-10">
            <input type="text" name="convert-to" maxlength="3" class="form-control-lg" value="{{session['convert_to']}}" >
        </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-form-label col-sm-2">Amount</label>
        <div class="col-sm-10">
            <input type="number" name="amount" placeholder="0" min="0" step="0.01" class="form-control-lg" value="{{session['amount']}}" >
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Convert</button>
            <a class="btn btn-danger" href="{{url_for('reset_form')}}">Reset</a>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-10 offset-sm-2">
        {% for msg in get_flashed_messages() %}
        <h2>{{ msg }}</h2>
        {% endfor %}
        {% endblock %}
    </div>
</div>
</div>
